@using ProjectCinema.Models
@model MovieViewModel

<form asp-controller="Movie" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <h2>Enter new movie</h2>
        <div class="col-12">
            <label>Movie Name</label>
            <input type="text" asp-for="MovieName" />
        </div>
        <div class="col-12">
            <label>Minutes of play</label>
            <input type="text" asp-for="MinutesOfPlay" />
        </div>
        <div class="col-12">
            <label>Genre</label>
            <input type="text" asp-for="Genre" />
        </div>
        <div class="col-12">
            <label>Year of making</label>
            <input type="text" asp-for="YearOfMaking" />
        </div>
        <div class="col-12">
            <label asp-for="Image.ImageFile" class="control-label">Image</label>            
            <input asp-for="Image.ImageFile"/>
            <input type="text" asp-for="Image.Title" />
            <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
            <label></label>
        </div>
    </div>
    
        <button class="btn btn-light mx-auto" type="submit">Submit</button>
    
</form>