@using ProjectCinema.Models
@model MovieViewModel


<div class="col-12 text-center text-white">
    <form asp-controller="Movie" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="modal-body">
            <h2>Enter new movie</h2>
            <div class="col-12">
                <label>Movie Name</label>
                <input type="text" asp-for="MovieName" />
            </div>
            <div class="col-12">
                <label>Minutes of play</label>
                <input type="text" asp-for="MinutesOfPlay" />
            </div>
            <div class="col-12">
                <label>Genre</label>
                <input type="text" asp-for="Genre" />
            </div>
            <div class="col-12">
                <label>Year of making</label>
                <input type="text" asp-for="YearOfMaking" />
            </div>
            <div class="col-12">
                <label asp-for="Image.ImageFile" class="control-label">Image</label>
                <input asp-for="Image.ImageFile" />
                <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
                <label></label>
            </div>
        </div>
        <button class="btn btn-light mx-auto" type="submit">Submit</button>
    </form>
</div>


<table class="table text-white mt-2">
    <thead class="thead-light">
        <tr>
            @*<th scope="col">#</th>*@
            <th scope="col">Movie Name</th>
            <th scope="col">Minutes of play</th>
            <th scope="col">Genre</th>
            <th scope="col">Year of making</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @if (Model.Movies != null)
    {

        @foreach (var item in Model.Movies)
        {
            <tbody class="thead-light">
                <tr>
                    <td>@item.MovieName</td>
                    <td>@item.MinutesOfPlay</td>
                    <td>@item.Genre</td>
                    <td>@item.YearOfMaking</td>
                    <td>
                        <button id="update-movie" type="submit" class="btn btn-light">Update movie</button>
                        <button type="submit" class="btn btn-light">Delete movie</button>
                    </td>
                </tr>
            </tbody>
        }
    }
</table>

@*modal-update*@
<div id="update-movie-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="full-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div class="input-group">
                    <h4 class="modal-title mx-auto">Update movie</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" asp-controller="Movie" asp-action="Update" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="col-12">
                        <div class="input-group">
                            <label>Movie name</label>
                            <input class="form-control" type="text" maxlength="100" asp-for="MovieName" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <label>Minutes of play</label>
                            <input class="form-control" type="text" maxlength="100" asp-for="MinutesOfPlay" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <label>Genre</label>
                            <input class="form-control" type="text" maxlength="100" asp-for="Genre" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <label>Year of making</label>
                            <input class="form-control" type="text" maxlength="100" asp-for="YearOfMaking" required />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <label>Image</label>
                            <input class="form-control"  asp-for="Image.ImageFile" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light mx-auto" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>