<div class="col-12">
    <form class="d-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="btn btn-outline-dark text-white float-lg-right m-2">Log In</button>
    </form>

    <form class="d-inline" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="btn btn-outline-dark text-white float-lg-right m-2">Register</button>
    </form>

    @if (User.Identity.IsAuthenticated)
    {
        <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="btn btn-outline-dark text-white float-lg-right m-2">Log Out</button>
        </form>
    }
</div>