@using ProjectCinema.Models
@model HeaderViewModel
<div class="text-center">
    <div class="text-center pt-2">
        <form data-ajax="true"
              data-ajax-method="post"
              asp-controller="Movie"
              asp-action="Search"
              data-ajax-update="#SearchResults" style="display: none" id="form">
            <div class="form-group row align-items-md-end text-left">
                <div class="col-sm-7">
                    <input type="text" name="searchTerm" id="term" class="form-control form-control-overide" />
                </div>
                <div class="col-sm-3 text-left">
                    <button class="btn btn-primary" id="submit-search" type="submit">Search Movie</button>
                </div>
            </div>
        </form>
        <button class="btn btn-primary" id="search-movie" type="submit">Search Movie</button>
    </div>
    <div class="col-12 m-3 text-center" style="background-color: #555555; width: 93.5%">
        <div class="col-12  pb-2">
            <select class="input-header mt-2" style="width: 200px" asp-items="Model.Movies">
                <option value="0">Select a movie</option>
            </select>
        </div>
        <div class="col-12">
            <select class="input-header mb-2" style="width: 200px">
                <option value="0">Select a date</option>
            </select>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        document.ready(function () {
            $('#submit-search').click();
        });
    </script>
}