@using ProjectCinema.Models
@model ScreeningTimeViewModel

<form asp-controller="ScreeningTime" asp-action="Create" method="post">
    <div>
        <label asp-for="MovieTime">Pick date and time</label>

        <div id="datetimepicker">
            <span><i class="fa fa-calendar"></i></span>
            <input asp-for="MovieTime"  />
        </div>

        <div><span asp-validation-for="MovieTime"></span></div>
    </div>

    <button type="submit">Submit</button>
</form>

@section scripts{ 
@*<script>
    $(document).ready(function () {
        $('#datetimepicker').datetimepicker({
            timeFormat: 'hh:mm',
            dateFormat: ''
        });
    });
</script>*@

} 