@using ProjectCinema.Models
@model SearchMovieViewModel

<section>
    <div class="row">
        <div class="col-12">
            @foreach (var item in Model.Results)
            {
            <a href="" class="col-4" style="background-color: white; color:black; display:block; position:relative; height: 0; padding-bottom: 25%; padding-top: 10px; float: left; box-sizing: border-box" >
                <div style="position: absolute; top:10px; left:10px; right:10px; bottom:10px; padding:19px; color: white">                    
                    <span style="position:absolute; bottom:9px; left:10px; line-height: 0px"><img src="@("~/image/"+item.Image.ImageName)" asp-append-version="true" width="250" height="250" alt="@item.MovieName" /> </span>  
                </div>
                <h3> @item.MovieName</h3>
            </a>
            }

        </div>
    </div>
</section>