@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12"  >
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("Header")
        </div>        
    </div>
    <div class="row">
        <div class="col-12 text-left">      
            @await Component.InvokeAsync("Movie", new SearchMovieViewModel())
        </div>
    </div>      
</div>
