@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">   
    <div class="row">
        <div class="col-12 col-lg-10 m-auto pr-0 pl-0">
            @await Component.InvokeAsync("Banner")
        </div>
    </div>
    <div class="row">
        
            @await Component.InvokeAsync("SearchHeader")
       
    </div>
    <div class="row">
        <div class="col-12 col-lg-10 m-lg-auto  mt-3" style="background-color: white;">
            @await Component.InvokeAsync("Movie", new SearchMovieViewModel())
        </div>
    </div>
</div>
