@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12"  >
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("Banner")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*@await Component.InvokeAsync("SearchHeader")*@
        </div>        
    </div>
    <div class="row">
        <div class="col-12 text-left m-3" style="background-color: white; max-width: 93.5%" >      
            @await Component.InvokeAsync("Movie", new SearchMovieViewModel())
        </div>
    </div>      
</div>
