@using ProjectCinema.Models
@model TicketViewModel

    <div class="col-12 text-center text-white">
        <form asp-controller="Ticket" asp-action="Create" method="post">
            <div>
                <h2>Enter tickets info</h2>
                <div class="col-12">
                    <label>Price</label>
                    <input type="text" asp-for="Price" />
                </div>
                <div class="col-12">
                    <label>Ammount</label>
                    <input type="text" asp-for="Ammount" />
                </div>
            </div>
            <button class="btn btn-light mx-auto" type="submit">Submit</button>
        </form>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Ticket price</th>
                <th scope="col">Number of avaliable tickets</th>
            </tr>
        </thead>
        @if (Model.Tickets != null)
        {
            @foreach (var item in Model.Tickets)
            {
                <tbody class="text-white"s>
                    <tr>
                        <td>@item.Price</td>
                        <td>@item.Ammount</td>
                    </tr>
                </tbody>
            }
        }

    </table>